USE [master]
GO
/****** Object:  Database [ARCs]    Script Date: 18.11.2020 2:09:08 ******/
CREATE DATABASE [ARCs]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ARCs_dat', FILENAME = N'E:\MS SQL Server 2017 Edition\Компоненты\MSSQL14.SQLEXPRESS\MSSQL\DATA\ARCs_dat' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ARCs_log', FILENAME = N'E:\MS SQL Server 2017 Edition\Компоненты\MSSQL14.SQLEXPRESS\MSSQL\DATA\ARCs_log' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 1024KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ARCs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ARCs]
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Companies](
	[ID_company] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[Phone] [char](20) NOT NULL,
	[Email] [varchar](250) NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[ID_company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompaniesEmployees]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompaniesEmployees](
	[ID_company] [int] NOT NULL,
	[ID_employee] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contract]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contract](
	[ID_contract] [int] NOT NULL,
	[ID_customer] [int] NOT NULL,
	[ID_service] [int] NOT NULL,
	[Additional_expenses] [money] NOT NULL,
	[Date_beginning] [date] NOT NULL,
	[Date_expiration] [date] NOT NULL,
	[Cost] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID_customer] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](70) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Patronymic] [nvarchar](70) NOT NULL,
	[Phone] [char](20) NOT NULL,
	[Email] [varchar](250) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID_customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[ID_employee] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](70) NOT NULL,
	[Name] [nvarchar](70) NOT NULL,
	[Patronymic] [nvarchar](70) NOT NULL,
	[Phone] [char](20) NOT NULL,
	[Email] [varchar](250) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[ID_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 18.11.2020 2:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ID_service] [int] NOT NULL,
	[Name] [nvarchar](250) NOT NULL,
	[ID_company] [int] NOT NULL,
	[Price] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Index [PK_CompaniesEmployees]    Script Date: 18.11.2020 2:09:08 ******/
ALTER TABLE [dbo].[CompaniesEmployees] ADD  CONSTRAINT [PK_CompaniesEmployees] PRIMARY KEY NONCLUSTERED 
(
	[ID_company] ASC,
	[ID_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_Contract]    Script Date: 18.11.2020 2:09:08 ******/
ALTER TABLE [dbo].[Contract] ADD  CONSTRAINT [PK_Contract] PRIMARY KEY NONCLUSTERED 
(
	[ID_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_Services]    Script Date: 18.11.2020 2:09:08 ******/
ALTER TABLE [dbo].[Services] ADD  CONSTRAINT [PK_Services] PRIMARY KEY NONCLUSTERED 
(
	[ID_service] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CompaniesEmployees]  WITH CHECK ADD  CONSTRAINT [FK_CompaniesEmployees_Company] FOREIGN KEY([ID_company])
REFERENCES [dbo].[Companies] ([ID_company])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompaniesEmployees] CHECK CONSTRAINT [FK_CompaniesEmployees_Company]
GO
ALTER TABLE [dbo].[CompaniesEmployees]  WITH CHECK ADD  CONSTRAINT [FK_CompaniesEmployees_Employee] FOREIGN KEY([ID_employee])
REFERENCES [dbo].[Employees] ([ID_employee])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CompaniesEmployees] CHECK CONSTRAINT [FK_CompaniesEmployees_Employee]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Customer] FOREIGN KEY([ID_customer])
REFERENCES [dbo].[Customer] ([ID_customer])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Customer]
GO
ALTER TABLE [dbo].[Contract]  WITH CHECK ADD  CONSTRAINT [FK_Contract_Service] FOREIGN KEY([ID_service])
REFERENCES [dbo].[Services] ([ID_service])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contract] CHECK CONSTRAINT [FK_Contract_Service]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Services_Company] FOREIGN KEY([ID_company])
REFERENCES [dbo].[Companies] ([ID_company])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Services_Company]
GO
USE [master]
GO
